/*TODO: Estilos Generales*/

:root {
    --color-fuentes: #003049;
    --color-rojo: rgb(201, 67, 67);
    --color-naranja-fuerte: #6a040f;
    --color-naranja: #f77f00;
    --color-intermedio: #fcbf49;
    --color-suave: #eae2b7;
    --color-suave-oscuro: #d4c485;
}

/*TODO: Estilos de NavBar Global*/
/*Estilos de El Galpon navbar*/
.navbar-brand {
    font-family: "Alfa Slab One", serif;
    text-transform: uppercase;
    color: var(--color-rojo) !important;
}

/*Menu hamburguesa*/
.navbar-toggler {
    color: var(--color-rojo) !important;
}

#logo-mini {
    border-radius: 50%;
    /* Hago el logo un círculo */
}

/*TODO: Estilos de seccion Banner del Index*/

.banner {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    color: var(--color-fuentes);
    overflow: hidden;
    /* Evita que el botón se desborde en dispositivos pequeños */
}

.capsula_foto {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.capsula_foto::before {
    content: "";
    /* Necesario para que funcione el pseudo-elemento */
    position: absolute;
    /* Posición absoluta en relación al contenedor */
    top: 0;
    left: 0;
    width: 100%;
    /* Ocupa todo el ancho del contenedor */
    height: 100%;
    /* Ocupa toda la altura del contenedor */
    background-image: url(../img/fondo.png);
    /* Imagen de fondo */
    background-size: cover;
    /* Cubre todo el contenedor */
    background-position: center;
    /* Centra la imagen */
    opacity: 0.5;
    /* Opacidad del 50% */
    z-index: -1;
    /* Asegura que el fondo esté detrás del contenido */
}

.texto {
    text-align: center;
}

#primero,
#segundo {
    font-size: 2em;
    margin: 10px 0;
}

.banner-galpon {
    font-weight: bold;
    color: var(--color-rojo);
    font-family: "Alfa Slab One", serif;
    text-transform: uppercase;
}

.boton-flecha {
    display: flex;
    justify-content: center;
    z-index: 1;
    position: absolute;
    bottom: 100px;
    width: 100%;
}

.boton-flecha .btn {
    font-size: 1.5em;
}

.flecha {
    font-size: 1.5em;
    color: var(--color-rojo);
}

.flecha i {
    font-size: 2em;
}


@media screen and (max-width: 1020px) {
    .banner {
        height: 500px;
    }

    .boton-flecha {
        bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    .banner {
        height: 300px;
    }

    .boton-flecha {
        bottom: 10px;
    }

    #primero {
        display: none;
    }
}


/*TODO: Estilos de seccion Info del Index*/

.info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: var(--color-suave);
}

.info_partes {
    padding: 10px;
    text-align: center;
    height: 250px;
    padding-top: 50px;
}

.info_partes:hover {
    background-color: var(--color-intermedio);
    transition: 0.5s;
}

@media screen and (max-width: 768px) {
    .info {
        display: grid;
        grid-template-columns: 2fr 2fr;
        background-color: var(--color-suave);
    }
}

/*TODO: Estilos del boton Sticky para Products e Index*/

.sticky-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    height: 60px;
    width: 60px;
    background-color: var(--color-rojo);
    border-radius: 50%;
}

.sticky-button a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: var(--color-suave);
    font-size: 2em;
    text-decoration: none;
}

.sticky-button a:hover{
    background-color: var(--color-naranja-fuerte);
    border-radius: 50%;
    color: var(--color-intermedio);
    transition: .5s;
}

/*TODO: Estilos de seccion Opiniones del Index*/

.opiniones {
    background: var(--color-suave);
    color: var(--color-fuentes);
    text-align: center;
    padding: 20px;
    margin: 0;
}

.opiniones h3 {
    font-weight: 500;
}

.opiniones .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.opiniones-fotos {
    margin: 20px;
}

.opiniones-fotos img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 7px solid var(--color-rojo);
}

/*TODO: Estilos del Footer Index y Productos*/

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-suave-oscuro);
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: var(--color-fuentes);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3rem;
    font-family: "Alfa Slab One", serif;
    text-transform: uppercase;
    color: var(--color-rojo);
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: var(--color-fuentes);
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: var(--color-rojo);
}

.footer-bottom {
    background: var(--color-naranja-fuerte);
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: var(--color-naranja)
}

.footer-bottom span {
    text-transform: uppercase;
    color: var(--color-rojo);
    font-weight: 200;
}

/*TODO: Estilos de Login - Productos */

/*Login*/
.login-container,
.crud-container {
    display: none;
    /* Oculto el contenedor del crud de usuarios y del login*/
}

.shows {
    display: block !important;
    /* Muestro el contenedor del crud de usuarios */
    margin-top: 4rem !important;
}

/*TODO: Estilos de Crud de Productos - Productos*/

/*Personalizar color  de los botones*/
.btn-naranja-fuerte {
    background-color: #6a040f !important;
    border-color: #6a040f !important;
    color: #fff !important;
}

.btn-naranja-fuerte:hover {
    background-color: #f77f00 !important;
    border-color: #f77f00 !important;
    color: #fff !important;
}

/*color  de fondo de Productos*/
.products-body {
    background-color: var(--color-suave);
}

/*formato de "El Galpon"*/
.brand-name {
    font-family: "Alfa Slab One", serif;
    text-transform: uppercase;
    color: var(--color-rojo) !important;
}

/*Crud de usuarios*/
.contenedor {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    flex-direction: row;
    gap: 3rem;
    color: var(--color-fuentes);
}

.contenedor h1 {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 2px;
}

.formulario {
    margin: 5px;
    width: 30%;
    padding: 1rem;
}

.tabla {
    margin: 5px;
    width: 70%;
}

.product-image img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.d-flex {
    margin: 2rem;
}

.form-edit {
    background-color: var(--color-suave-oscuro);
}

@media screen and (max-width: 768px) {
    .contenedor {
        flex-direction: column;
        gap: 2rem;
    }

    .formulario {
        width: 100%;
    }
}

/*TODO: Estilos del carrusel de Products*/

.carousel {
    padding-top: 4rem;
}

.carousel-img {
    max-height: 250px;
    object-fit: cover;
    /* Para asegurar que la imagen se ajuste bien dentro del contenedor */
    padding: 10px;
}

.banner-products {
    background-color: var(--color-suave);
}

/*TODO: Estilos de cards de Products*/
.d-flex {
    padding: 1rem !important;
    margin: 0px !important;
}

.container-fluid-search {
    background-color: var(--color-suave);
}

.section-cards {
    background-color: var(--color-suave);
}

/*?Esta card la saqué de https://uiverse.io/gharsh11032000/selfish-owl-57 modifiqué algunos estilos*/

.card-container {
    position: relative;
    width: 400px;
    height: 300px;
    background-color: var(--color-suave-oscuro);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 3px var(--color-naranja-fuerte);
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin: 10px;
    margin-bottom: 20px;
}

.card__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*object-fit: cover;*/
    padding: 1px;
    border-radius: 10px;
}

.card-container:hover {
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-container:hover .card__content {
    transform: rotateX(0deg);
}

.card__title {
    margin: 0;
    font-size: 18px;
    color: var(--color-fuentes);
    font-weight: 500;
}

.card-container:hover svg {
    scale: 0;
}

.card__info {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.card__price {
    font-size: 24px;
    color: var(--color-naranja-fuerte);
    font-weight: 700;
    letter-spacing: 0.02rem;
}

.card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
}

.carda-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card__contact {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #25d366;
    /*color  de wpp*/
    color: white;
    padding: 10px;
    border-radius: 50%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Estilos de las estrellas*/

.card__stars {
    display: flex;
    margin-top: 10px;
}

.card__stars .fa-star {
    color: #ccc;
    /* Color de las estrellas vacías */
    margin-right: 5px;
}

.card__stars .filled {
    color: #f39c12;
    /* Color de las estrellas llenas */
}

/*Estilos de ordenamiento de productos*/

#filter-options { /*Este es el de products*/
    justify-content: center;
    align-items: center;
    background-color: var(--color-suave);
    gap: 1rem;
    padding: 0.5rem;
}

#filter-button2{ /*Este es el de products*/
    margin-bottom: 1rem;
}